<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <GameDir>__GAME_ROOT_PATH__</GameDir>
        <ManagedDir>$(GameDir)/CasualtiesUnknown_Data/Managed</ManagedDir>
<!--        <CUCoreLibDll>$(GameDir)/BepInEx/plugins/CUCoreLib.dll</CUCoreLibDll>-->
    </PropertyGroup>
</Project>
